* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  /* background-color: black; */
  position: relative;
  z-index: 10;

}




#page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
}

nav {
  padding: 2vw 0vw;
  width: 100%;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-part2 {
  display: flex;
  align-items: center;
  gap: 1vw;
}

#nav-part2 h4 {
  padding: 10px 20px;
  border: 1px solid rgba(182, 180, 180, 0.782);
  border-radius: 50px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.676);
  transition: all ease 0.4s;
  font-size: 18px;
  position: relative;
  overflow: hidden;
}

#nav-part2 h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: 0;
  bottom: -100%;
  border-radius: 50%;
  /* transition: all ease 0.3s; */

}

#nav-part2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

#nav-part2 h4 a {
  color: black;
  text-decoration: none;

  z-index: 9;
  position: relative;
}

#nav-part2 h4:hover a {
  color: white;
}

#center {
  height: 65vh;
  width: 100%;
  /* background-color: orange; */
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #0000003c;
  padding-bottom: 2vw;
}

#left h3 {
  width: 25vw;
  font-size: 1.8vw;
  line-height: 2vw;

}

#center h1 {
  font-size: 7vw;
  line-height: 8vw;
  text-align: right;
}

#page1 video {
  position: relative;
  width: 100%;
  border-radius: 40px;
  margin-top: 4vw;
  width: 100%;


}

#hero-shape {
  position: absolute;
  height: 45vw;
  width: 36vw;
  right: 0;
  top: 74vh;

}

#hero1 {
  height: 100%;
  width: 100%;
  background-color: orangered;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(20px);
  position: absolute;

}

#hero2 {
  height: 30vw;
  width: 30vw;

  border-radius: 50%;
  background: linear-gradient(#FE320A, rgb(255, 115, 0));
  filter: blur(20px);
  position: absolute;
  animation-name: anime2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}

#hero3 {
  background: linear-gradient(#FE320A, rgb(255, 115, 0));
  height: 30vw;
  width: 30vw;

  border-radius: 50%;
  position: absolute;

  filter: blur(26px);
  animation-name: anime1;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;




}

@keyframes anime1 {
  from {
    transform: translate(55%, -3%);
  }

  to {
    transform: translate(0%, 10%);
  }

}

@keyframes anime2 {
  from {
    transform: translate(5%, -5%);
  }

  to {
    transform: translate(-20%, 30%);
  }

}

#page2 {
  min-height: 100vh;
  width: 100%;
  background-color: white;
  padding: 8vw 0;
  position: relative;
}

#con {
  /* background-color: greenyellow; */
  white-space: nowrap;
  display: inline-block;
  animation-name: move;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#moving-text {
  white-space: nowrap;
  overflow-x: auto;
}

#moving-text::-webkit-scrollbar {
  display: none;
}

#moving-text h1 {
  font-size: 8vw;
  display: inline-block;
}

#gola {
  height: 70px;
  width: 70px;
  background-color: orangered;
  border-radius: 50%;
  display: inline-block;
  margin: 1vw 3vw;
}

@keyframes move {
  from {
    transform: translatex(0);
  }

  to {
    transform: translatex(-100%);
  }

}

#page2-bottom {
  height: 85vh;
  width: 100%;
  /* background-color:rgb(192, 246, 246); */
  padding: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 9;
}

#page2-bottom h1 {
  font-size: 3.3vw;
  width: 70%;
  line-height: 4vw;
}

#bottom-part2 {
  width: 22%;
}

#bottom-part2 img {
  width: 100%;
  border-radius: 20px;
}

#bottom-part2 p {
  font-weight: 300;
  font-size: 17px;
  margin-top: 1vw;

}

#gooey {
  height: 34vw;
  width: 34vw;
  position: absolute;
  border-radius: 50%;
  background: #FE320A;
  top: 58%;
  left: 25%;
  filter: blur(26px);
  animation-name: gooey;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes gooey {
  from {
    transform: translate(10%, -10%) skew(0);
  }

  to {
    transform: translate(-10%, 10%) skew(-12deg);
  }
}

#page3 {
  min-height: 150vh;
  width: 100%;
  background-color: white;
  margin-top: 60px;
  position: relative;
  padding: 4vw 0;
}

.elem {
  height: 150px;
  width: 100%;
  position: relative;

  border-bottom: 1px solid rgba(0, 0, 0, 0.151);
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 3vw;
}

.elem h1 {
  font-size: 42px;
  z-index: 9;
  position: relative;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: orange;
  position: absolute;
  left: 0;
  top: -100%;
  transition: all ease 0.2s;
}

.elem:hover .overlay {
  top: 0;

}

#fixed-image {
  height: 30vw;
  width: 23vw;
  /* background-color: red; */
  border-radius: 10px;
  position: fixed;
  z-index: 99;
  left: 50%;
  top: 26%;
  display: none;
  background-size: cover;
  background-position: center;
}
#page4 h2{
  margin-left: 20px;
  margin-top: -15px;
}
#orange-circle{
  height: 10px;
  width: 10px;
  background-color:orangered;
  border-radius: 40%;
  margin-top: 30px;
  
}

#page5 {
  height: 100vh;
  width: 100%;
  /* background-color: black; */
}

#footer {
  position: fixed;
  z-index: 9;
  height: 105vh;
  width: 100%;
  bottom: 0;
  background-color: black;
  color: white;
  bottom: 0;
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
  flex-direction: column;
  padding: 1vh 3vh;

}

#footer h1 {
  font-size: 20vw;
}

#footer-div {
  height: 30vh;
  width: 100%;
  background-color:red;
}
#footer-div p{
  float: right;
  width: 25%;
  font-size: 22px;
  margin-top: -100px;
}
#footer-div h3{
  margin-left: 850px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.407);
  width: 220px;
}


#footer-bottom {
  border-top: 1px solid #dadada;
  height: 10vh;
  width: 100%;
}
#footer-div h2{
  margin-left: 70px;
  padding-top: 20px;
}

#footer-bottom h2 {
  font-size: 17px;
  padding-top: 18px;
}

#footer-bottom h3 {
  margin-left: 500px;
  margin-top: -20px;
}
#footer-bottom h4{
  margin-left: 890px;
  margin-top: -20px;

}
#footer-bottom h5{
  margin-left: 1100px;
  margin-top: -20px;

}
